@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;

  color: white;
  padding-inline: 0.5rem;
  padding-block: 0.15rem;
  background-color: #9e9e9e1b;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: space-between;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .apple-icon {
    @include flex-center;
  }

  .left,
  .right {
    display: flex;
    gap: 0.5rem;
  }

  .nav-icon {
    @include flex-center;
  }
}
