* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  html,
  body,
  #root {
    min-height: 100vh;
    width: 100%;
  }

  main {
    min-height: 100vh;
    width: 100%;
    background-image: url("/macwallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

// body {
//   background-color: black;
// }
